<script src="//cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/prettify/r298/prettify.min.js"></script>
<script>
     $('pre').addClass('prettyprint linenums');
     $('pre>ol>li').addClass('list-style-type:decimal');
     window.prettyPrint && prettyPrint();
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122225193-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-122225193-1');
</script>
