<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{{ page.title }}  --- blog.warningrc.com</title>
  </head>

  <body>
    <div id="container" class="inner">
        {% include header.html %}
        <section id="main_content">
          {{ content }}
        </section>
        {% include copyright.html %}
        {% include share.html %}
        {% include discuss.html %}
        {% include footer.html %}
    </div>
  </body>
</html>